.reviews_section {
  @include adaptive-value("padding-top", 40, 16, 1);
  @include adaptive-value("padding-bottom", 120, 60, 1);

  &_head {
    @include adaptive-value("margin-bottom", 48, 24, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @include media-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_content {
    @include adaptive-value("padding", 48, 16, 1);
    border-radius: 8px;
    background-color: var(--blueF0);
    @include adaptive-value("margin-bottom", 120, 60, 1);
  }

  &_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    @include adaptive-value("margin-bottom", 32, 16, 1);
  }

  &_card {
    max-width: 100%;
    width: 100%;
  }

  .send_review {
    max-width: 635px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    &_title,
    &_text {
      @include adaptive-value("margin-bottom", 24, 16, 1);
    }

    &_text {
      @include adaptive-value("font-size", 18, 14, 1);
    }
  }
}
