html {
  font-family: var(--ff-primary);
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--text-color-primary);

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--blue-primary);
    border-radius: 4px;
  }
}

body {
  padding-right: var(--scrollbar-width);

  background-color: var(--bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;

  &._lock {
    overflow: hidden;
  }
}

button:focus-visible,
input:focus-visible,
a:focus-visible,
textarea:focus-visible {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--gray4E);
  letter-spacing: 0.5px;
}

h1 {
  @include adaptive-value("font-size", 64, 40, 1);
}

h2 {
  @include adaptive-value("font-size", 48, 32, 1);
}

h3 {
  @include adaptive-value("font-size", 40, 28, 1);
}

h4 {
  @include adaptive-value("font-size", 36, 24, 1);
}

h5 {
  @include adaptive-value("font-size", 32, 24, 1);
}

h6 {
  @include adaptive-value("font-size", 24, 20, 1);
}

p {
  color: var(--gray62);
  line-height: 150%;
  letter-spacing: 0.54px;
}

input {
  caret-color: var(--blue-primary);
  color: var(--gray);
}

.container {
  width: 100%;
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: static !important;
  margin-top: 22px;
}

.hero-pagination {
  position: absolute !important;
  bottom: 30px !important;
}

.swiper-pagination-bullet {
  width: 24px !important;
  height: 4px !important;
  border-radius: 2px !important;
  background-color: var(--blueF0) !important;
  opacity: 1 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 48px !important;
  background-color: var(--blue-primary) !important;
  transition: all 0.3s ease;
}

.blog-pagination,
.reviews-pagination {
  .swiper-pagination-bullet {
    background-color: var(--blueD5) !important;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--blue-primary) !important;
  }
}

.hero-pagination {
  @include media-down(lg) {
    position: static !important;
  }
}

.brand_page {
  padding-top: 0 !important;

  .brand_btn {
    display: none !important;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.swiper-slide {
  min-height: 100%;
  height: auto !important;
}

//rc slider
.rc-slider-rail {
  background-color: var(--grayD0);
}

.rc-slider-track {
  background-color: var(--blue-primary);
}

.rc-slider-handle {
  background-color: var(--blue-primary);
  border: none;
  opacity: 1;
}

// datepicker
.react-datepicker__time-list-item--disabled {
  display: none;
}
