.product_card {
  background-color: var(--blueF0);
  border-radius: 8px;
  padding: 16px;
  max-width: 420px;
  width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card_head {
  @include adaptive-value("margin-bottom", 16, 8, 1);
}

.card_labels {
  display: flex;
  align-items: center;
  gap: 8px;
  @include adaptive-value("margin-bottom", 16, 8, 1);
}

.label {
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;

  &.novelty {
    color: var(--blue-primary);
    background-color: #b1dbf9;
  }

  &.discount {
    color: var(--white);
    background-color: var(--red);
  }

  &.top_sales {
    color: var(--gray);
    background-color: rgba($color: #bcd32f4d, $alpha: 0.3);
  }
}

.card_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.card_payments {
  display: flex;
  align-items: center;
  gap: 8px;
}

.payment_icon {
  @include adaptive-value("width", 32, 24, 1);
  @include adaptive-value("height", 32, 24, 1);
}

.icon_heart {
  @include adaptive-value("width", 32, 24, 1);
  @include adaptive-value("height", 32, 24, 1);
}

.product_img {
  width: 100%;
  max-height: 320px;
  @include adaptive-value("margin-bottom", 16, 8, 1);

  img {
    width: 100%;
    height: 100%;
  }
}

.product_category {
  display: inline-block;
  @include adaptive-value("font-size", 16, 12, 1);
  color: var(--gray4E);
  margin-bottom: 8px;
}

.product_info {
  flex: 1;
}

.product_name {
  @include adaptive-value("font-size", 18, 16, 1);
  margin-bottom: 8px;
  color: var(--gray);
}

.card_footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 15px;
}

.product_status {
  font-size: 12px;

  transition: all 0.3s;
  position: absolute;
  bottom: 16px;
  left: 17px;
  transition: all 0.3s;

  &.available {
    color: var(--green);
  }

  &.unavailable {
    color: var(--red);
  }

  &.pre_order {
    color: #10181d;
  }
}

.card_btn {
  position: relative;
  z-index: 1;

  &:hover {
    width: 100%;
    transition: width 0.3s ease;
  }
}
