.delivery_block {
  @include adaptive-value("margin-bottom", 40, 16, 1);

  &_title {
    @include adaptive-value("margin-bottom", 24, 16, 1);
  }

  &_item {
    background-color: var(--blueF0);
    padding: 24px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    border-radius: 4px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    @include media-down(sm) {
      flex-direction: column;
    }
  }

  &_item_img_wrap {
    // width: 142px;
    width: auto;
  }

  &_item_content {
    b {
      color: var(--gray4E);
      @include adaptive-value("font-size", 20, 18, 1);
      font-weight: 600;
      margin-bottom: 8px;
      display: inline-block;
    }

    p {
      @include adaptive-value("font-size", 18, 14, 1);

      &:not(:last-of-type) {
        margin-bottom: 16px;
      }
    }
  }
}
