.diagnostic_service_block {
    display: grid;
    grid-template: 1fr/ auto auto 1fr;
    gap: 12px;

    @include media-down(md) {
        grid-template: 1fr/ 1fr;
        gap: 8px;
    }

    &:nth-child(n - 9) {
        .number {

            &::before {
                content: "0"counter(num);
            }
        }
    }

    &:nth-child(n + 10) {
        .number {

            &::before {
                content: counter(num);
            }
        }
    }
}

.number {
    counter-increment: num;
    @include adaptive-value("width", 96, 50, 1);

    @include media-down(md) {
        width: auto;
    }

    &::before {
        content: "0"counter(num);
        font-weight: 700;
        @include adaptive-value("font-size", 64, 48, 1);
        color: var(--blue-primary);
    }
}

.block_img {
    max-width: 526px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;

    @include media-down(md) {
        max-width: 100%;
    }
}

.block_text_wrap {
    display: flex;
    flex-direction: column;
    max-width: 632px;

    @include media-down(md) {
        max-width: 100%;
    }
}

.block_title {
    @include adaptive-value("margin-bottom", 24, 16, 1);
}

.block_info {
    flex: 1;
    margin-bottom: 8px;

    .block_text {
        @include adaptive-value("font-size", 20, 18, 1);

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

.duration {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--blue-primary);
    @include adaptive-value("margin-bottom", 16, 9, 1);

    span {
        @include adaptive-value("font-size", 20, 18, 1);
    }
}

.condition {
    @include adaptive-value("font-size", 16, 12, 1);
    color: var(--grayA2);
    @include adaptive-value("margin-bottom", 24, 16, 1);
}

.buttons_wrap {
    display: flex;
    align-items: center;
    gap: 10px 12px;
}