.saved_personal_data {
  @include adaptive-value("margin-bottom", 32, 16, 1);

  &_list {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }

  &_item {
    display: grid;
    grid-template: 1fr / 180px 1fr;
    gap: 16px;

    @include media-down(md) {
      grid-template: 1fr /1fr;
    }

    &:not(:last-child) {
      @include adaptive-value("margin-bottom", 16, 8, 1);
    }

    .label {
      @include adaptive-value("font-size", 20, 18, 1);
      color: var(--gray);
    }

    .value {
      @include adaptive-value("font-size", 20, 18, 1);
      color: var(--gray62);
      line-height: 150%;
    }
  }

  &_action_btn {
    width: 24px;
    height: 24px;
    color: var(--gray4E);
    transition: all 0.3s ease;

    &:hover {
      color: var(--blue-primary);
      transition: all 0.3s ease;
    }
  }

  .remove_btn {
    margin-left: auto;
    margin-top: auto;
  }
}
