.form_section {
  @include adaptive-value("padding-top", 120, 60, 1);
  @include adaptive-value("padding-bottom", 120, 60, 1);
  background-color: var(--blueF0);

  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @include media-down(lg) {
      flex-direction: column;
    }
  }

  &_img {
    max-width: 526px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
  }

  .form_wrap {
    max-width: 634px;
    width: 100%;
  }

  .form_wrap_title {
    @include adaptive-value("margin-bottom", 24, 16, 1);
  }
}

.form_btn {
  @include media-down(sm) {
    width: 100%;
  }
}

.arrow_right {
  @include adaptive-value("width", 20, 12, 1);
  @include adaptive-value("height", 20, 12, 1);
}
