.marquee_wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding-top: 9vw;
  padding-bottom: 9vw;
}

.items_wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  @include adaptive-value("gap", 120, 30, 1);
  background-color: var(--blueF0);
  @include adaptive-value("padding-top", 48, 24, 1);
  @include adaptive-value("padding-bottom", 48, 24, 1);
  rotate: -4deg;
  width: 110vw;
  margin-left: -5%;
}

.items {
  flex-shrink: 0;
  display: flex;
  @include adaptive-value("gap", 120, 30, 1);
  justify-content: space-around;
  min-width: 100%;
}

.marquee {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.marquee_element {
  width: max-content;
  @include adaptive-value("height", 33, 18, 1);

  &:nth-child(1) {
    @include adaptive-value("width", 211, 121, 1);
  }

  &:nth-child(2) {
    @include adaptive-value("width", 147, 92, 1);
  }

  &:nth-child(3) {
    @include adaptive-value("width", 211, 101, 1);
  }

  &:nth-child(4) {
    @include adaptive-value("width", 218, 80, 1);
  }

  &:nth-child(5) {
    @include adaptive-value("width", 206, 112, 1);
  }

  &:nth-child(6) {
    @include adaptive-value("width", 64, 34, 1);
  }

  &:nth-child(7) {
    width: 211px;
  }
}
