.footer {
  background-color: var(--blueF0);
  padding-top: 60px;
  border-top: 1px solid var(--grayD0);

  &_top {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 32px 12px;
    @include adaptive-value("padding-bottom", 60, 30, 1);

    @include media-down(lg) {
      flex-wrap: wrap;
    }

    @include media-down(sm) {
      align-items: center;
    }
  }

  .footer_col {
    width: 25%;

    @include media-down(lg) {
      width: 48%;
    }

    @include media-down(sm) {
      width: 100%;
      text-align: center;
    }

    &_title {
      @include adaptive-value("font-size", 18, 14, 1);
      color: var(--gray62);
      margin-bottom: 16px;
    }
  }

  .footer_nav {
    display: block !important;

    ul {
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
      margin: 0;

      @include media-down(sm) {
        align-items: center;
      }

      a {
        color: var(--gray77);
        @include adaptive-value("font-size", 16, 12, 1);
      }
    }
  }

  .contact_block {
    margin-bottom: 24px;
  }

  .footer_item {
    display: block;
    color: var(--gray77);
    transition: all 0.3s ease;
    @include adaptive-value("font-size", 16, 12, 1);

    &:hover:not(p) {
      transition: all 0.3s ease;
      color: var(--blue-primary);
    }

    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }

  .social_links {
    display: flex;
    align-items: center;
    gap: 16px;

    @include media-down(sm) {
      justify-content: center;
    }
  }

  .social_icon {
    width: 24px;
    height: 24px;
    color: var(--gray77);
    transition: all 0.3s ease;

    &:hover {
      transition: all 0.3s ease;
      color: var(--blue-primary);
    }
  }

  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    border-top: 2px solid var(--grayD0);

    @include media-down(md) {
      flex-direction: column;
      gap: 32px;
    }
  }

  .footer_logo_wrap {
    @include media-down(md) {
      text-align: center;
    }

    .footer_logo {
      margin-bottom: 8px;
    }

    p {
      color: var(--gray77);
      @include adaptive-value("font-size", 16, 12, 1);
    }
  }
}
