.policy_section {
  @include adaptive-value("padding-bottom", 120, 60, 1);

  &_content {
    @include media-down(sm) {
      display: none;
    }
  }

  h6 {
    @include adaptive-value("margin-bottom", 32, 24, 1);
    color: var(--gray4E);
  }

  p {
    font-size: 18px;

    &:not(:last-of-type) {
      @include adaptive-value("margin-bottom", 32, 24, 1);
    }
  }

  strong {
    display: inline-block;
    font-size: 20px;
    color: var(--gray4E);
    @include adaptive-value("margin-bottom", 24, 16, 1);
  }

  ol {
    counter-reset: num;

    .list {
      counter-increment: num;

      &::before {
        content: counter(num) ".";
        font-size: 20px;
        color: var(--gray4E);
        @include adaptive-value("margin-bottom", 24, 16, 1);
        font-weight: 700;
        margin-right: 5px;
      }
    }
  }

  li {
    @include adaptive-value("margin-bottom", 32, 24, 1);
    color: var(--gray62);
    font-size: 18px;
    line-height: 150%;
  }

  .download_btn {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-weight: 500;
    font-size: 14px;
    color: var(--white);
    background-color: var(--button-blue-primary);
    border-radius: 8px;
    padding: 12px;
    width: 216px;
    box-shadow: 2px 2px 0 var(--blueAC);
    transition: all 0.3s ease;

    @include media-down(sm) {
      display: flex;
    }

    &:disabled {
      box-shadow: 2px 2px 0 var(--grayE7);
    }

    &:focus {
      box-shadow: 2px 2px 0 var(--blue11);
    }

    &:active {
      box-shadow: 0 4px 4px 0 #00000040 inset;
      transition: all 0.3s ease;
    }

    &:hover {
      background-color: var(--button-hover);
      transition: all 0.3s ease;
    }
  }
}
