.net_section {
  @include adaptive-value("padding-top", 40, 16, 1);
  @include adaptive-value("padding-bottom", 120, 60, 1);
}

.net_content_search {
  position: static !important;
  transform: translate(0, 0) !important;
}

.interactive_map {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  @include adaptive-value("height", 530, 343, 1);
  @include adaptive-value("margin-bottom", 48, 16, 1);
}

.search_field_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  @include adaptive-value("margin-bottom", 24, 16, 1);

  @include media-down(lg) {
    flex-direction: column;
    width: 100%;
  }
}

.search_text {
  max-width: 634px;
  width: 100%;
  color: var(--gray8C);
  @include adaptive-value("font-size", 18, 14, 1);

  @include media-down(lg) {
    max-width: 100%;
  }

  a {
    color: var(--blue-primary);
    text-decoration: underline;
  }
}
