.datepicker_filed {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
  text-align: start;

  &._invalid {
    .datepicker {
      border-color: var(--red);

      &::placeholder {
        color: var(--red);
      }
    }

    .error_icon {
      transition: all 0.3s ease;
      transform: translateY(-50%) scale(1);
    }
  }
}

.datepicker {
  border: 1px solid var(--gray8C);
  background-color: transparent;
  transition: all 0.3s ease;
  width: 100% !important;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  color: var(--blue-primary);

  &::placeholder {
    color: var(--grayB8);
  }
}

.error {
  display: inline-block;
  color: var(--red);
  margin-top: 8px;
}

.error_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  right: 12px;
  transition: all 0.3s ease;
}
