.promo_wrap {
  padding: 10px 0;

  text-align: center;

  background-color: var(--blue);
}

.promo_text {
  @include adaptive-value("font-size", 18, 12, 1);
  font-weight: 600;
  line-height: 100%;
  color: var(--white);

  @include media-down(xs) {
    font-weight: 700;
  }
}
