.search_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 526px;
  height: 42px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 2px 2px 0 var(--grayE7);

  @include media-down(lg) {
    width: 100%;
  }

  @include media-down(md) {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: calc(100% - 32px);
    z-index: 1002;
    transition: all 0.3s ease;
  }

  @include media-down(lg) {
    flex-direction: column;
    height: auto;
    background-color: transparent;
    box-shadow: none;
  }

  &.show {
    transform: translateX(-50%) scale(1);
    transition: all 0.3s ease;
  }

  &.filled {
    .search_input {
      border-color: var(--blue-primary);
    }
  }

  &.disabled {
    background-color: var(--grayE7);

    .serach_btn {
      &:disabled {
        background-color: var(--grayD0);
      }
    }
  }
}

.search_input {
  width: 100%;
  height: 100%;
  padding: 10px 12px;
  border-radius: 8px 0 0 8px;

  font-size: 16px;
  color: var(--blue-primary);

  caret-color: var(--blue-primary);

  background-color: var(--white);

  border: none;
  outline: none;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  border-right: none;

  &::placeholder {
    color: var(--grayB8);
  }

  &:focus {
    border-color: var(--blue-primary);
  }

  &:hover:not(:disabled) {
    border-color: var(--blue-primary);
    transition: all 0.3s ease;
  }

  &:disabled {
    color: var(--grayE7);
    border-color: var(--grayB8);
    box-shadow: 0px 2px 0 var(--grayE7);
  }

  &:not(:empty) {
    border-color: var(--blue-primary);
  }

  @include media-down(sm) {
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid var(--gray8C);
    background-color: var(--white);
    margin-bottom: 4px;
  }
}

.serach_btn {
  gap: 14px;
  width: 138px;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
  box-shadow: 2px 2px 0 var(--grayE7);

  @include media-down(sm) {
    width: 100%;
    border-radius: 8px;
  }
}
