.order_number {
  width: max-content;
  background-color: var(--blueF0);
  border-radius: 8px 8px 0 0;
  padding: 10px;

  span {
    font-weight: 600;
    color: var(--gray4E);
    @include adaptive-value("font-size", 20, 18, 1);
  }
}

.item_content {
  border: 1px solid var(--blueAC);
  @include adaptive-value("padding", 40, 16, 1);
}

.order_status {
  display: inline-block;
  color: var(--green);
  @include adaptive-value("margin-bottom", 24, 16, 1);

  .waiting {
    color: var(--green);
  }

  .canceled {
    color: var(--red);
  }

  .success {
    color: var(--green);
  }
}

.date_wrap {
  @include adaptive-value("margin-bottom", 24, 16, 1);

  span,
  time {
    @include adaptive-value("font-size", 18, 14, 1);
    color: var(--gray62);
  }
}

.products_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include adaptive-value("margin-bottom", 24, 16, 1);
}

.product_body {
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: var(--blueF0);
  border-radius: 8px;

  @include media-down(md) {
    flex-wrap: wrap;
  }
}

.product_img {
  @include adaptive-value("width", 100, 80, 1);
  @include adaptive-value("height", 100, 80, 1);
}

.product_category {
  display: block;
  @include adaptive-value("font-size", 16, 12, 1);
  color: var(--grayB8);
  margin-bottom: 4px;
}

.product_name {
  display: block;
  @include adaptive-value("font-size", 18, 14, 1);
  @include adaptive-value("margin-bottom", 35, 8, 1);
}

.product_price {
  span {
    @include adaptive-value("font-size", 18, 14, 1);
    font-weight: 600;
    color: var(--blue-primary);
  }
}

.product_actions {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;

  @include media-down(md) {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.remove_btn {
  width: 24px;
  height: 24px;
  color: var(--gray4E);
  transition: all 0.3s ease;

  &:hover {
    color: var(--blue-primary);
    transition: all 0.3s ease;
  }
}

.counter_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--blue-primary);
  border-radius: 8px;
  padding: 4px 8px;
  color: var(--blue-primary);

  svg {
    width: 16px;
    height: 16px;
  }

  span {
    font-size: 18px;
  }
}

.canceled_btn {
  @include media-down(sm) {
    width: 100%;
  }
}
