.diagnostic_service_section {
  @include adaptive-value("padding-top", 40, 16, 1);

  &_text {
    margin-bottom: 8px;
    @include adaptive-value("font-size", 20, 18, 1);

    &:last-of-type {
      @include adaptive-value("margin-bottom", 32, 16, 1);
    }
  }

  &_content {
    @include adaptive-value("margin-bottom", 52, 16, 1);
    display: grid;
    grid-template: 1fr / 1fr auto;
    gap: 12px;

    @include media-down(md) {
      grid-template: 1fr / 1fr;
    }
  }

  .content_block {
    background-color: var(--blueF0);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    @include adaptive-value("padding", 24, 16, 1);

    &:nth-child(4n + 1) {
      grid-row: span 2;
      min-width: 340px;
      min-height: 282px;

      @include media-down(md) {
        min-width: auto;
      }
    }

    &:nth-child(4n + 4) {
      grid-column: 1 / -1;
    }

    ol {
      padding-left: 20px;

      li {
        list-style: decimal;
        @include adaptive-value("font-size", 20, 18, 1);
        color: var(--gray62);

        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }

    ul {
      padding-left: 20px;

      li {
        list-style: outside;
        @include adaptive-value("font-size", 20, 18, 1);
        color: var(--gray62);

        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
  }

  .block_title {
    @include adaptive-value("margin-bottom", 24, 16, 1);
  }

  .block_img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    @include adaptive-value("margin-bottom", 32, 16, 1);

    @include media-down(md) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .price_wrap {
      display: flex;
      align-items: flex-start;
      gap: 8px;
    }

    .price_title {
      @include adaptive-value("font-size", 32, 24, 1);
      font-weight: 700;
      color: var(--gray4E);
    }

    .price {
      justify-content: flex-start;
      margin-bottom: 8px;

      span {
        @include adaptive-value("font-size", 32, 24, 1);
      }
    }

    .old_price {
      span {
        @include adaptive-value("font-size", 24, 20, 1);
      }
    }

    .condition {
      @include adaptive-value("font-size", 16, 12, 1);
      color: var(--grayA2);
    }

    .duration {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--blue-primary);

      span {
        @include adaptive-value("font-size", 32, 24, 1);
        font-weight: 700;
      }

      .icon_clock {
        width: 30px;
        height: 30px;
      }
    }
  }

  &_footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px 20px;

    @include media-down(sm) {
      flex-direction: column;
    }
  }

  .service_button {
    @include media-down(sm) {
      width: 100%;
    }
  }
}
