.certificate {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;

  &_title {
    @include adaptive-value("margin-bottom", 32, 16, 1);
  }

  &_text {
    @include adaptive-value("margin-bottom", 40, 24, 1);
  }

  p {
    @include adaptive-value("font-size", 18, 14, 1);

    &:not(:last-of-type) {
      @include adaptive-value("margin-bottom", 16, 8, 1);
    }
  }

  strong {
    display: block;
    @include adaptive-value("font-size", 20, 18, 1);
    @include adaptive-value("margin-bottom", 8, 4, 1);
    color: var(--gray62);
  }

  ul {
    @include adaptive-value("margin-bottom", 16, 8, 1);
    padding-left: 20px;

    li {
      list-style: outside;
      @include adaptive-value("font-size", 18, 14, 1);
      margin-bottom: 4px;
      color: var(--gray62);
    }
  }
}

.certificate_list_wrap {
  &_title {
    margin-bottom: 16px;
  }
}

.certificate_list_item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
  background-color: var(--blueF0);
  border-radius: 8px;
  padding: 16px;
  position: relative;

  @include media-down(md) {
    flex-direction: column;
    justify-content: center;
    padding-top: 48px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.wish_btn {
  position: absolute;
  top: 16px;
  right: 16px;

  @include media-down(md) {
    right: auto;
    left: 16px;
  }

  .icon_heart {
    color: var(--gray4E);
    transition: all 0.3s ease;

    @include media-down(md) {
      width: 20px;
      height: 20px;
    }

    &:hover {
      color: var(--blue-primary);
      transition: all 0.3s ease;
    }

    &.active {
      color: var(--blue-primary);
      fill: var(--blue-primary);
    }
  }
}

.certificate_list_img {
  max-width: 505px;
  width: 66%;
  height: auto;

  @include media-down(md) {
    max-width: 100%;
    width: 100%;
  }
}

.certificate_list_text {
  @include media-down(md) {
    max-width: 100%;
    width: 100%;
  }

  .tip {
    font-size: 12px;
    color: var(--gray4E);
    display: block;
    margin-bottom: 8px;
  }

  .title {
    display: block;
    @include adaptive-value("font-size", 16, 12, 1);
    color: var(--gray);
    margin-bottom: 8px;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--blue-primary);

    span {
      font-weight: 700;
      @include adaptive-value("font-size", 16, 12, 1);
      margin-bottom: 8px;
    }
  }
}

.certificate_text_footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 15px;

  span {
    font-size: 12px;
  }

  .available {
    color: var(--green);
  }

  .unavailable {
    color: var(--red);
  }
}
