.thanks {
  @include adaptive-value("padding-bottom", 120, 60, 1);

  &_text {
    @include adaptive-value("font-size", 20, 18, 1);
    @include adaptive-value("padding-bottom", 40, 16, 1);
  }

  &_content {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(240px, 1fr));
    gap: 12px;

    &_item {
      display: flex;
      justify-content: space-between;

      @include media-down(sm) {
        flex-direction: column;
        gap: 8px;
      }

      &:nth-child(1) {
        .divider {
          &::before {
            top: 0;
          }
        }
      }

      &:nth-child(2) {
        .divider {
          &::before {
            top: 25%;
          }
        }
      }

      &:nth-child(3) {
        .divider {
          &::before {
            top: 50%;
          }
        }
      }

      &:nth-child(4) {
        .divider {
          &::before {
            top: 100%;
          }
        }
      }

      strong {
        @include adaptive-value("font-size", 20, 18, 1);
        color: var(--gray4E);
      }

      .item_value {
        display: flex;
        align-items: center;
        gap: 4px;

        @include adaptive-value("padding-top", 16, 8, 1);
        @include adaptive-value("padding-bottom", 8, 2, 1);

        span {
          color: var(--gray62);
          @include adaptive-value("font-size", 18, 14, 1);
        }
      }

      .item_info {
        span {
          color: var(--gray62);
          @include adaptive-value("font-size", 18, 14, 1);
        }
      }

      .total_price {
        span {
          font-weight: 600;
        }
      }

      .divider {
        height: 100%;
        width: 2px;
        background-color: var(--grayD0);
        position: relative;

        @include media-down(sm) {
          height: 55px;
        }

        &::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 4px;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: var(--blue-primary);
        }
      }
    }
  }
}
