.mailing_section {
  @include adaptive-value("margin-top", 60, 30, 1);
  @include adaptive-value("margin-bottom", 60, 30, 1);

  &_container {
    position: relative;
  }

  .mailing_section_tip {
    @include adaptive-value("font-size", 24, 14, 1);
  }

  .mailing_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-down(lg) {
      position: static;
    }

    @include media-down(sm) {
      display: none;
    }
  }

  .mailing_bg_mob {
    display: none;
    margin-bottom: 16px;
    height: 375px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-down(sm) {
      display: block;
    }
  }

  &_content {
    max-width: 630px;
    width: 100%;
    margin-right: auto;
    @include adaptive-value("padding-top", 120, 60, 1);
    @include adaptive-value("padding-bottom", 120, 60, 1);

    @include media-down(lg) {
      max-width: 100%;
      padding: 0;
    }
  }

  &_title {
    @include adaptive-value("margin-bottom", 32, 24, 1);
  }

  &_text {
    @include adaptive-value("font-size", 18, 14, 1);
    max-width: 330px;
    width: 100%;
    @include adaptive-value("margin-bottom", 16, 8, 1);

    &:last-of-type {
      @include adaptive-value("margin-bottom", 32, 16, 1);
    }
  }

  .input_wrap {
    display: flex;
    background-color: var(--blueF0);
    box-shadow: 2px 2px 0 var(--blueAC);
    border-radius: 8px;
    overflow: hidden;
    max-width: 530px;
    width: 100%;

    &:focus-within {
      input {
        transition: all 0.3s ease;
        border-color: var(--blue-primary);
      }
    }

    @include media-down(sm) {
      flex-direction: column;
      gap: 4px;
      background-color: transparent;
      box-shadow: none;
    }

    input {
      width: 100%;
      min-height: 100%;
      border: 1px solid transparent;
      border-right: none;
      outline: none;
      background-color: transparent;
      margin: 0;
      padding: 10px 12px;
      transition: all 0.3s ease;
      border-radius: 8px 0 0 8px;

      @include media-down(sm) {
        border: 1px solid var(--gray8C);
        border-radius: 8px;
      }

      &::placeholder {
        color: var(--grayB8);
      }
    }
  }

  .mailing_form_btn {
    border-radius: 0;
    box-shadow: none;
    font-weight: 500;

    @include media-down(sm) {
      border-radius: 8px;
    }
  }

  .error {
    margin-top: 8px;
    color: var(--red);
    display: block;
  }
}
