.self_delivery {
  &_content {
    display: flex;
    align-items: flex-start;
    gap: 16px 12px;

    @include media-down(md) {
      flex-direction: column;
    }
  }

  &_address_list {
    @include adaptive-value("min-width", 420, 250, 1);
    overflow: auto;
    padding-right: 10px;

    @include media-down(md) {
      height: 420px;
      min-width: 100%;
    }
  }

  .self_delivery_address_item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;

    &::before {
      content: url(/./images/svg/map-pin.svg);
      width: 24px;
      height: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .item_text_wrap {
    address {
      @include adaptive-value("font-size", 18, 14, 1);
      font-weight: 600;
      color: var(--gray4E);
      font-style: normal;
      margin-bottom: 8px;
    }

    span {
      @include adaptive-value("font-size", 18, 14, 1);
      color: var(--gray8C);
    }
  }

  .interactive_map {
    height: 530px;
    width: 100%;

    @include media-down(md) {
      @include adaptive-value("height", 530, 345, 1);
    }
  }
}
