.blog_section {
  @include adaptive-value("padding-bottom", 60, 30, 1);

  &_content {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    @include media-down(lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &_articels {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  &_articels_wrap {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px 20px;
    @include adaptive-value("margin-bottom", 24, 16, 1);
    width: 100%;

    @include media-down(xs) {
      grid-template: 1fr / 1fr;
    }
  }
}

.blog_section_card {
  max-width: 100%;
}

.category_section_content {
  .blog_section_articels {
    width: 100%;
  }
}
