.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}

.prev_icon {
  rotate: 180deg;
}

.prev_icon,
.next_icon {
  width: 8px;
  height: 16px;
  color: var(--blue-primary);
}

.nav_button {
  display: grid;
  place-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 35px;
  height: 35px;
  font-size: 16px;
  color: var(--grayA2);
  transition: all 0.3s ease;

  &.active {
    border-color: var(--blue-primary);
    color: var(--blue-primary);
    transition: all 0.3s ease;
  }

  &[disabled] {
    .prev_icon,
    .next_icon {
      color: var(--grayA2);
    }
  }
}
