.categories_list_wrap {
  margin-bottom: 32px;

  @include media-down(lg) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100dvh;
    background-color: var(--white);
    z-index: 1005;
    padding: 24px 16px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
  }
}

.categories_list_head {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;

  .icon_category {
    width: 28px;
    height: 28px;
    color: var(--gray);
  }

  strong {
    font-weight: 700;
    font-size: 24px;
    color: var(--gray);
  }

  .category_title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.link {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  border-radius: 4px;
  color: var(--gray4E);
  font-size: 20px;
  transition: all 0.3s ease;

  &._special_green {
    color: var(--green);
  }

  &._special_red {
    color: var(--red);
  }

  &.active {
    color: var(--blue-primary);
    background-color: var(--blueF0);
    font-weight: 600;

    .link_icon {
      display: block;
    }
  }

  &:hover {
    color: var(--blue-primary);
    background-color: var(--blueF0);
    transition: all 0.3s ease;
  }
}

.link_icon {
  width: 24px;
  height: 24px;
  display: none;
  color: var(--blue-primary);
}

.closeButton {
  position: absolute;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  right: 16px;
  top: 24px;

  @include media-down(lg) {
    display: block;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: var(--gray);
    transform-origin: center;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;

    &:first-child {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:last-child {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}