.tip_wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--blue-primary);
  @include adaptive-value("font-size", 20, 18, 1);
  font-weight: 600;
  margin-bottom: 16px;

  .dot_line {
    @include adaptive-value("width", 60, 48, 1);
  }
}
