.filter_list_wrap {
  margin-bottom: 24px;
}

.filter_list_head {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;

  .icon_category {
    width: 28px;
    height: 28px;
    color: var(--gray);
  }

  strong {
    font-weight: 700;
    font-size: 24px;
    color: var(--gray);
  }
}
