.contact_section {
  @include adaptive-value("padding-top", 40, 16, 1);
  @include adaptive-value("padding-bottom", 120, 60, 1);

  &_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;

    @include media-down(lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &_text_block {
    max-width: 525px;
    min-width: 350px;
    width: 100%;

    @include media-down(lg) {
      max-width: 100%;
    }
  }

  &_text {
    @include adaptive-value("font-size", 18, 14, 1);
    color: var(--gray62);

    &:not(:last-of-type) {
      @include adaptive-value("margin-bottom", 28, 16, 1);
    }
  }

  &_text_block_item {
    @include adaptive-value("margin-bottom", 24, 16, 1);

    .time {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &_title {
    @include adaptive-value("font-size", 18, 14, 1);
    font-weight: 600;
    @include adaptive-value("margin-bottom", 16, 8, 1);
    color: var(--gray62);
    display: block;
  }

  &_link {
    color: var(--gray62);
    display: block;
    @include adaptive-value("font-size", 18, 14, 1);
    transition: all 0.3s ease;
    width: max-content;

    &:hover {
      color: var(--blue-primary);
      transition: all 0.3s ease;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .social_links {
    display: flex;
    align-items: center;
    gap: 16px;

    .link {
      width: 24px;
      height: 24px;
      color: var(--gray62);
      transition: all 0.3s ease;

      &:hover {
        color: var(--blue-primary);
        transition: all 0.3s ease;
      }
    }
  }

  .contact_section_img_wrap {
    max-width: 635px;
    @include adaptive-value("width", 635, 300, 1);
    position: relative;

    @include media-down(lg) {
      width: 100%;
    }
  }

  .contact_swiper {
    width: 100%;
  }

  .contact_section_img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;

    @include media-down(md) {
      @include adaptive-value("height", 514, 278, 1);
    }
  }

  .slider_buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    right: 16px;
    bottom: 40px;
    z-index: 10;
  }
}
