.profile_section {
  &_container {
    position: relative;
  }

  &_bg {
    position: absolute;
    top: 0;
    right: -20%;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;

    @include media-down(md) {
      position: static;
      min-height: 343px;
      object-position: 75%;
      margin-top: 8px;
    }
  }
}
