.blog_nav {
  max-width: 420px;
  width: 35%;
  border-right: 1px solid var(--grayD0);
  padding-right: 16px;

  @include media-down(lg) {
    max-width: 100%;
    width: 100%;
    border: none;
    padding: 0;
  }
}
