.review_popup_container {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100dvh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  &.show {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
}

.review_popup {
  max-width: 1000px;
  width: calc(100% - 32px);

  @include media-down(sm) {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  &_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--blue-primary);
    padding: 22px 24px;

    &_title {
      @include adaptive-value("font-size", 20, 18, 1);
      font-weight: 600;
      color: var(--white);
    }

    &_close {
      width: 16px;
      height: 16px;
      position: relative;

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: var(--white);
        border-radius: 2px;
        transition: all 3s ease;

        &:nth-child(1) {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }

  &_content {
    background-color: var(--white);
    padding: 68px 16px;
    text-align: center;

    @include media-down(sm) {
      padding: 16px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  &_content_title {
    @include adaptive-value("font-size", 18, 14, 1);
    color: var(--gray4E);
    font-weight: 600;
    @include adaptive-value("margin-bottom", 24, 16, 1);
  }

  &_form {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
  }

  .inputs_wrap {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .evaluation {
    max-width: 530px;
    width: 100%;
    margin: 24px auto;
    text-align: center;

    &_title {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 8px;
      display: inline-block;
    }

    &_stars {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 18px;
    }

    &_star {
      width: 28px;
      height: 28px;
      color: transparent;
      transition: all 0.3s ease;
      cursor: pointer;

      &.hovered {
        color: var(--blue-primary);
        transition: all 0.3s ease;
      }

      &.selected {
        color: var(--blue-primary);
        transition: all 0.3s ease;
      }
    }
  }

  .review_checkbox {
    margin: 0 auto 24px auto;
  }
}
