.product {
    &_content {
        display: grid;
        grid-template: 1fr / 50% auto;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @include adaptive-value("margin-bottom", 40, 20, 1);

        @include media-down(lg) {
            grid-template: 1fr / 1fr;
            justify-items: center;
        }
    }

    &_img_wrap {
        max-width: 635px;
        width: 100%;
        height: 100%;
        padding: 24px;
        border-radius: 8px;
        background-color: var(--blueF0);

        @include media-down(md) {
            max-width: 100%;
        }
    }

    .gallery {
        @include media-down(md) {
            width: 100%;
        }
    }

    .mainSlider {
        margin-bottom: 12px;
        max-height: 440px;
        width: 100%;

        @include media-down(md) {
            max-width: 295px;
            width: 100%;
            height: 220px;
        }

        .mainImage {
            width: 100%;
            height: auto;

            @include media-down(md) {
                height: 220px;
                width: 100%;
            }
        }
    }

    .thumbSlider {
        .thumbImage {
            cursor: pointer;
            height: 140px;

            @include media-down(md) {
                height: 68px;
            }
        }
    }

    .product_labels {
        display: flex;
        align-items: center;
        gap: 8px;
        @include adaptive-value("margin-bottom", 16, 8, 1);
    }

    .label {
        padding: 8px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;

        &.novelty {
            color: var(--blue-primary);
            background-color: #b1dbf9;
        }

        &.discount {
            color: var(--white);
            background-color: var(--red);
        }

        &.top_sales {
            color: var(--gray);
            background-color: rgba($color: #bcd32f4d, $alpha: 0.3);
        }
    }

    .product_actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 16px;
    }

    .product_payments {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .payment_icon {
        @include adaptive-value("width", 32, 24, 1);
        @include adaptive-value("height", 32, 24, 1);
    }

    .icon_heart {
        @include adaptive-value("width", 32, 24, 1);
        @include adaptive-value("height", 32, 24, 1);
        color: var(--gray4E);
        fill: transparent;
        transition: all 0.3s ease;

        &:hover {
            fill: var(--blue-primary);
            color: var(--blue-primary);
            transition: all 0.3s ease;
        }
    }

    &_info {
        display: flex;
        flex-direction: column;
        max-width: 525px;
        width: 100%;
        height: 100%;

        @include media-down(lg) {
            max-width: 100%;
        }
    }

    &_category {
        @include adaptive-value("font-size", 18, 14, 1);
        color: var(--gray8C);
        font-weight: 600;
        display: block;
        margin-bottom: 8px;
    }

    &_title {
        color: var(--gray);
        @include adaptive-value("margin-bottom", 40, 24, 1);
    }

    &_subinfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;
        @include adaptive-value("margin-bottom", 24, 16, 1);
    }

    &_reviews {
        display: flex;
        align-items: center;
        gap: 16px;

        .stars {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .icon_star {
            width: 24px;
            height: 24px;
            color: var(--blue-primary);
        }
    }

    .review_count,
    .product_code {
        display: flex;
        align-items: center;
        gap: 6px;

        span {
            @include adaptive-value("font-size", 16, 12, 1);
            font-weight: 500;
            color: var(--blueAC);
        }
    }

    &_status {
        display: inline-block;
        @include adaptive-value("margin-bottom", 24, 16, 1);
    }

    &_color {
        @include adaptive-value("margin-bottom", 24, 20, 1);

        span {
            display: block;
            @include adaptive-value("font-size", 18, 14, 1);
            color: var(--gray4E);
            margin-bottom: 8px;
        }

        .colors_wrap {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .color_button {
            @include adaptive-value("width", 38, 28, 1);
            @include adaptive-value("height", 38, 28, 1);
            border-radius: 4px;
            border: 2px solid var(--gray4E);
            transition: all 0.3s ease;

            &:hover {
                border-color: var(--blue-primary);
                transition: all 0.3s ease;
            }

            &.selectedColor {
                border-color: var(--blue-primary);
            }
        }
    }

    &_price {
        @include adaptive-value("margin-bottom", 24, 16, 1);
    }

    &_bonus {
        display: flex;
        align-items: center;
        gap: 6px;
        @include adaptive-value("margin-bottom", 24, 16, 1);

        span {
            @include adaptive-value("font-size", 16, 12, 1);

            &:nth-child(1) {
                color: var(--blue-primary);
            }

            &:nth-child(2) {
                color: var(--gray4E);
            }
        }
    }

    &_count {
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid var(--blue-primary);
        border-radius: 4px;
        padding: 4px 8px;
        color: var(--gray4E);
        width: max-content;
        @include adaptive-value("margin-bottom", 24, 16, 1);

        svg {
            width: 16px;
            height: 16px;
        }

        span {
            @include adaptive-value("font-size", 20, 18, 1);
        }
    }

    &_btn {
        justify-content: space-between;
        max-width: 261px;
        width: 100%;
        margin-bottom: 16px;
    }

    .warning_message {
        margin-top: auto;
        display: flex;
        align-items: flex-start;
        gap: 16px;

        p {
            @include adaptive-value("font-size", 16, 12, 1);
        }
    }

    .buttons_list_wrap {
        max-width: 1310px;
        width: 100%;
        padding: 0 16px;
        margin: 0 auto;
        @include adaptive-value("margin-top", 40, 24, 1);
        @include adaptive-value("margin-bottom", 40, 24, 1);
        overflow: auto;
        scrollbar-width: none;
    }

    .buttons_list {
        display: flex;
        align-items: center;
        @include adaptive-value("gap", 40, 24, 1);
        @include adaptive-value("padding-top", 26, 13, 1);
        @include adaptive-value("padding-bottom", 16, 8, 1);
        @include adaptive-value("padding-right", 66, 16, 1);
        @include adaptive-value("padding-left", 66, 16, 1);
        background-color: var(--blueF0);
        border-radius: 8px;
        min-width: max-content;

        .button {
            @include adaptive-value("font-size", 18, 14, 1);
            color: var(--gray4E);
            font-weight: 600;
            padding-bottom: 8px;
            position: relative;
            transition: all 0.3s ease;
            white-space: nowrap;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                width: 0;
                background-color: var(--blue-primary);
                transition: all 0.3s ease;
            }

            &.active {
                color: var(--blue-primary);
                transition: all 0.3s ease;

                &::before {
                    width: 100%;
                    transition: all 0.3s ease;
                }
            }
        }
    }

    .characteristics_tab {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;

        @include media-down(md) {
            flex-direction: column;
        }

        .tab_title {
            text-align: start;
            @include adaptive-value("margin-bottom", 24, 16, 1);
        }

        .characteristics_wrap {
            max-width: 525px;
            width: 100%;

            @include media-down(md) {
                max-width: 100%;
            }
        }

        .characteristics_list {
            padding: 0;
        }

        .characteristic_item {
            display: flex;
            align-items: center;
            gap: 8px;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            .item_label {
                @include adaptive-value("font-size", 18, 14, 1);
                color: var(--gray4E);
                white-space: nowrap;
            }

            .divider {
                display: block;
                width: 100%;
                margin-top: 8px;
                border-bottom: 2px dotted var(--grayE7);
            }

            .item_value {
                @include adaptive-value("font-size", 18, 14, 1);
                color: var(--gray8C);
            }
        }

        .description_wrap {
            max-width: 635px;
            width: 100%;

            @include media-down(md) {
                max-width: 100%;
            }
        }

        .description_content {
            p {
                @include adaptive-value("font-size", 18, 14, 1);
                @include adaptive-value("margin-bottom", 24, 16, 1);
            }

            strong {
                display: block;
                color: var(--gray4E);
                @include adaptive-value("margin-bottom", 16, 8, 1);
                @include adaptive-value("font-size", 18, 14, 1);
            }

            ul {
                padding-left: 20px;
                @include adaptive-value("margin-bottom", 24, 16, 1);

                li {
                    list-style: outside;
                    color: var(--gray4E);
                    line-height: 150%;
                    letter-spacing: 0.54px;

                    &:not(:last-child) {
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}

.reviews {
    background-color: var(--blueF0);
    @include adaptive-value("padding", 48, 16, 1);
    border-radius: 8px;

    .product_reviews_card_wrap {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .product_reviews_card {
        max-width: 100%;
        margin-bottom: 16px;
    }

    .reply_block {
        @include adaptive-value("padding", 24, 16, 1);
        background-color: var(--white);
        border-radius: 8px;
        margin-bottom: 16px;
        max-width: 596px;
        width: 60%;
        margin-left: auto;

        &_title {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--gray4E);
            @include adaptive-value("margin-bottom", 16, 8, 1);
            @include adaptive-value("font-size", 18, 14, 1);
        }

        &_icon {
            width: 24px;
            height: 24px;
        }

        &_text {
            @include adaptive-value("font-size", 18, 14, 1);
            color: var(--gray62);
            @include adaptive-value("margin-bottom", 16, 8, 1);
        }

        &_date {
            @include adaptive-value("font-size", 16, 12, 1);
            color: var(--gray8C);
        }
    }
}