.team_card {
  border-radius: 8px;
  background-color: var(--blueF0);
  padding: 8px;

  &_image {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden;
  }

  &_text_wrap {
    border-radius: 8px;
    background-color: var(--white);
    @include adaptive-value("padding", 16, 8, 1);
  }

  &_name {
    color: var(--blue-primary);
    margin-bottom: 4px;
  }

  &_info {
    display: flex;
    align-items: center;
    gap: 5px;
    @include adaptive-value("font-size", 16, 12, 1);
    color: var(--gray8C);
  }
}
