$colors: (
  blue-primary: #1f7298,
  blue-secondary: #1f5a78,
  blue57: #578dac,
  blue83: #83a8c0,
  blueAC: #acc4d5,
  blueD5: #d5e1ea,
  blueF0: #f0f2f7,
  blue1D: #1d4459,
  blue18: #182f3c,
  blue11: #111b21,
  black1E: #1e1e1d,
  black18: #181818,
  black12: #121212,
  black0A: #0a0a0a,
  black: #000,
  gray23: #232323,
  gray29: #292928,
  gray2F: #2f2f2e,
  gray35: #353534,
  gray: #3b3b3a,
  gray4E: #4e4e4d,
  gray62: #626261,
  gray77: #777776,
  gray8C: #8c8c8b,
  grayA2: #a2a2a1,
  grayB8: #b8b8b8,
  grayD0: #d0d0cf,
  grayE7: #e7e7e7,
  white: #fff,
  red: #d32f2f,
  green: #4caf50,
  blue: #1f7298,
  button-blue-primary: #00b0f0,
  button-blue-secondary: #2995c7,
  button-hover: #24c5ff,
);
