.reviews_section {
  background-color: var(--blueF0);
  @include adaptive-value("padding-top", 120, 60, 1);
  @include adaptive-value("padding-bottom", 120, 60, 1);

  &_head {
    @include adaptive-value("margin-bottom", 48, 24, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @include media-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_content {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .slider_buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.reviews_swiper {
  max-width: 1280px;
  padding: 0 10px;

  @include media-down(lg) {
    padding: 0 16px;
  }
}
