.author_list_wrap {
  @include adaptive-value("margin-bottom", 32, 24, 1);

  .author_list_title {
    color: var(--gray);
    @include adaptive-value("margin-bottom", 24, 16, 1);
  }

  .author_item {
    .item_link {
      margin-bottom: 4px;
      @include adaptive-value("font-size", 18, 14, 1);
      color: var(--gray4E);
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      padding: 8px 10px;

      &:hover {
        transition: all 0.3s ease;
        background-color: var(--blueF0);
      }

      &.active {
        background-color: var(--blueF0);

        .item_arrow {
          display: block;
        }
      }
    }

    .position {
      margin-top: 4px;
      @include adaptive-value("font-size", 16, 12, 1);
      color: var(--gray8C);
    }

    .item_arrow {
      min-width: 8px;
      min-height: 16px;
      max-width: 8px;
      max-height: 16px;
      color: var(--gray4E);
      display: none;
    }

    .item_icon {
      min-width: 26px;
      min-height: 21px;
      max-width: 26px;
      max-height: 21px;
      color: var(--gray);
    }
  }

  .author_info_wrap {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
}
