.form_field_wrap {
  margin-bottom: 16px;
  text-align: start;
}

.form_field {
  width: 100%;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--gray8C);
  background-color: transparent;
  transition: all 0.3s ease;

  &._white {
    .form_field_input_placeholder {
      &::before {
        background-color: var(--white);
      }
    }
  }

  &._gray {
    .form_field_input_placeholder {
      &::before {
        background-color: var(--blueF0);
      }
    }
  }

  &:hover {
    transition: all 0.3s ease;
    border-color: var(--blue-primary);
  }

  &._focused {
    border-color: var(--blue-primary);
    transition: all 0.3s ease;

    .form_field_input_placeholder {
      top: -2px;
      left: 32px;
      transition: all 0.3s ease;
      padding: 0 8px;
      color: var(--blue-primary);
    }
  }

  &._filled {
    border-color: var(--blue-primary);
    transition: all 0.3s ease;

    .form_field_input_placeholder {
      top: -2px;
      left: 32px;
      transition: all 0.3s ease;
      padding: 0 8px;
      color: var(--blue-primary);
    }
  }
}

._invalid {
  border-color: var(--red);

  .form_field_input_placeholder {
    color: var(--red);
  }

  .error_icon {
    transition: all 0.3s ease;
    transform: translateY(-50%) scale(1);
  }
}

._invalid_filled {
  border-color: var(--red) !important;

  .error_icon {
    transition: all 0.3s ease;
    transform: translateY(-50%) scale(1);
  }
}

.form_field_input_placeholder {
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  color: var(--grayB8);
  font-size: 16px;
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 2px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.error {
  display: inline-block;
  color: var(--red);
  margin-top: 8px;
}

.error_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  right: 12px;
  transition: all 0.3s ease;
}

.form_field_input {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 12px;
  font-size: 16px;
  color: var(--blue-primary);
}
